Repository canonical/store-components, pull requests merged in 2023-06, with the labels that each got.

#47 make entire package cards clickable
  docs/100.bcec139adff86ba4cedc.manager.bundle.js
  docs/510.0c8b06b9.iframe.bundle.js
  docs/510.c8413c55.iframe.bundle.js
  docs/510.c8413c55.iframe.bundle.js.LICENSE.txt
  docs/636.afebe5d11045764c52ec.manager.bundle.js
  docs/636.afebe5d11045764c52ec.manager.bundle.js.LICENSE.txt
  docs/iframe.html
  docs/index.html
  docs/main.1074750b.iframe.bundle.js
  docs/main.492e99b8d1c7d5c6318e.manager.bundle.js
  docs/main.53c8acb92fa3384c3ae4.manager.bundle.js
  docs/main.6487900c.iframe.bundle.js
  docs/project.json
  src/components/PackageCard/IconCard.tsx
  src/components/PackageCard/PackageCard.scss
  src/components/PackageCard/PackageCard.tsx
Labels: Review: Code +1, Review: QA +1

#49 Update filters component
  docs/105.d60b503e7df041b98322.manager.bundle.js
  docs/105.d60b503e7df041b98322.manager.bundle.js.LICENSE.txt
  docs/510.c8413c55.iframe.bundle.js
  docs/636.afebe5d11045764c52ec.manager.bundle.js
  docs/664.c51fbca4.iframe.bundle.js
  docs/664.c51fbca4.iframe.bundle.js.LICENSE.txt
  docs/iframe.html
  docs/index.html
  docs/main.000eccb2.iframe.bundle.js
  docs/main.1074750b.iframe.bundle.js
  docs/main.492e99b8d1c7d5c6318e.manager.bundle.js
  docs/main.75e5cfb2f374e2f20e1b.manager.bundle.js
  docs/project.json
  src/components/Filters/Filters.stories.mdx
  src/components/Filters/Filters.test.tsx
  src/components/Filters/Filters.tsx
  src/types/category.ts
Labels: Review: Code +1, Review: QA +1

#51 Export loading card
  docs/project.json
  package.json
  src/index.ts
Labels: Maintenance 🔨, Review: Code +1

#52 Make loading card height optional
  docs/iframe.html
  docs/main.69e77beb.iframe.bundle.js
  docs/main.f2f8b681.iframe.bundle.js
  docs/project.json
  package.json
  src/components/LoadingCard/LoadingCard.tsx
Labels: Maintenance 🔨, Review: Code +1

#54 Add overflow to topic cards
  docs/iframe.html
  docs/main.01d4a0c8.iframe.bundle.js
  docs/main.c3499ff2.iframe.bundle.js
  docs/project.json
  package.json
  src/components/TopicCard/TopicCard.scss
  src/components/TopicCard/TopicCard.stories.mdx
  src/components/TopicCard/TopicCard.tsx
Labels: Maintenance 🔨, Review: Code +1, Review: QA +1

#55 A11y fixes
  docs/664.c51fbca4.iframe.bundle.js
  docs/664.f2421d79.iframe.bundle.js
  docs/664.f2421d79.iframe.bundle.js.LICENSE.txt
  docs/iframe.html
  docs/main.c3499ff2.iframe.bundle.js
  docs/main.d7b31e6b.iframe.bundle.js
  docs/project.json
  package.json
  src/components/DefaultCard/DefaultCard.stories.mdx
  src/components/PackageCard/InnerCard.tsx
  src/components/TopicCard/TopicCard.tsx
  yarn.lock
Labels: Maintenance 🔨, Review: Code +1, Review: QA +1
