Repository canonical/store-components, pull requests merged in 2023-03, with the labels that each got.

#26 added star ratings to card component
  docs/iframe.html
  docs/main.1e304785.iframe.bundle.js
  docs/main.bb27a522.iframe.bundle.js
  docs/project.json
  src/components/PackageCard/PackageCard.scss
  src/components/PackageCard/PackageCard.stories.mdx
  src/components/PackageCard/PackageCard.tsx
  src/types/package.ts
Labels: Review: Code needed, Review: QA needed

#32 Remove equal height from card list component
  docs/100.bcec139adff86ba4cedc.manager.bundle.js
  docs/100.bcec139adff86ba4cedc.manager.bundle.js.LICENSE.txt
  docs/636.afebe5d11045764c52ec.manager.bundle.js
  docs/iframe.html
  docs/index.html
  docs/main.3c9e2489.iframe.bundle.js
  docs/main.492e99b8d1c7d5c6318e.manager.bundle.js
  docs/main.53c8acb92fa3384c3ae4.manager.bundle.js
  docs/main.6b33b030.iframe.bundle.js
  docs/project.json
  package.json
  src/components/CardList/CardList.tsx
Labels: Maintenance 🔨, Review: Code +1, Review: QA +1

#33 add the total number of reviews next to ratings
  docs/100.bcec139adff86ba4cedc.manager.bundle.js
  docs/636.afebe5d11045764c52ec.manager.bundle.js
  docs/636.afebe5d11045764c52ec.manager.bundle.js.LICENSE.txt
  docs/index.html
  docs/main.492e99b8d1c7d5c6318e.manager.bundle.js
  docs/main.53c8acb92fa3384c3ae4.manager.bundle.js
  docs/project.json
  src/components/PackageCard/PackageCard.scss
  src/components/PackageCard/PackageCard.stories.mdx
  src/components/PackageCard/PackageCard.tsx
  src/types/package.ts
Labels: Review: Code +1, Review: QA +1, Review: UX +1
